{% extends 'partials/base.html' %}
{% load static %}

{% block content %}


<section class="banner-section inner-banner career">
    <div class="overlay"><div class="shape-area">
        <img src="{% static 'assets2/images/banner-blog.png' %}" class="shape-1" alt="banner">
    </div>
    <div class="banner-content">
        <div class="container wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-7">
                    <div class="title">
                        <h1>Blog</h1>
                        <div class="breadcrumb-area">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb d-flex align-items-center">
                                    <li class="breadcrumb-item">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="#/">Company</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Blog</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


<section class="blog-section">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="section-header text-center">
                        <h2 class="title">NimoraPay Blog</h2>
                        <p>Follow the NimoraPay blog for product announcements, feature updates, user stories, and technical posts about banking.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="all-post" role="tabpanel" aria-labelledby="all-post-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-post">
                                        <div class="thumbnail">
                                            <img src="{% static 'assets2/images/blog-image-2.png' %}" alt="blog">
                                        </div>
                                        <div class="blog-text">
                                            <p class="date">By NimoraPay - May 23, 2023</p>
                                            <a href="#/">
                                                <h5>Factors That Help Shape Choice in the Online Payment World</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-post">
                                        <div class="thumbnail">
                                            <img src="{% static 'assets2/images/blog-image-3.png' %}" alt="blog">
                                        </div>
                                        <div class="blog-text">
                                            <p class="date">By NimoraPay - May 22, 2023</p>
                                            <a href="#/">
                                                <h5>Various Online Payment Options and Tips to Avoid Fraud..</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-post">
                                        <div class="thumbnail">
                                            <img src="{% static 'assets2/images/blog-image-4.png' %}" alt="blog">
                                        </div>
                                        <div class="blog-text">
                                            <p class="date">By NimoraPay - May 7, 2023</p>
                                            <a href="#/">
                                                <h5>Reasons Why You Should Go For Payment solution...</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-10">
                                    <div class="single-post">
                                        <div class="thumbnail">
                                            <img src="{% static 'assets2/images/blog-image-5.png' %}" alt="blog">
                                        </div>
                                        <div class="blog-text">
                                            <p class="date">By NimoraPay - Mar 27, 2023</p>
                                            <a href="#/">
                                                <h5>Top Reasons Why You Should Go For Payment Management Solutions</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-10">
                                    <div class="single-post">
                                        <div class="thumbnail">
                                            <img src="{% static 'assets2/images/blog-image-6.png' %}" alt="blog">
                                        </div>
                                        <div class="blog-text">
                                            <p class="date">By NimoraPay - Jan 12, 2023</p>
                                            <a href="#/">
                                                <h5>How to Make an International Money Transfer - Send Money Safe And Fast</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-post">
                                        <div class="thumbnail">
                                            <img src="{% static 'assets2/images/blog-image-8.png' %}" alt="blog">
                                        </div>
                                        <div class="blog-text">
                                            <p class="date">By NimoraPay - Aug 10, 2022</p>
                                            <a href="#/">
                                                <h5>All you need to know about exchange rates</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-post">
                                        <div class="thumbnail">
                                            <img src="{% static 'assets2/images/blog-image-9.png' %}" alt="blog">
                                        </div>
                                        <div class="blog-text">
                                            <p class="date">By NimoraPay - Jun 14, 2022</p>
                                            <a href="#/">
                                                <h5>The best way to send money from the US...</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-post">
                                        <div class="thumbnail">
                                            <img src="{% static 'assets2/images/blog-image-10.png' %}" alt="blog">
                                        </div>
                                        <div class="blog-text">
                                            <p class="date">By NimoraPay - Apr 11, 2021</p>
                                            <a href="#/">
                                                <h5>5 Tips to Consider Before Investing in...</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single-post d-flex">
                                        <div class="thumbnail">
                                            <img src="{% static 'assets2/images/blog-image-11.png' %}" alt="blog">
                                        </div>
                                        <div class="blog-text">
                                            <p class="date">By NimoraPay - Feb 12, 2020</p>
                                            <a href="#/">
                                                <h4>NimoraPay Celebrates 3 years - and 500K business customers</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-10">
                                    <div class="single-post">
                                        <div class="thumbnail">
                                            <img src="{% static 'assets2/images/blog-image-12.png' %}" alt="blog">
                                        </div>
                                        <div class="blog-text">
                                            <p class="date">By NimoraPay - Jan 7, 2020</p>
                                            <a href="#/">
                                                <h5>Track, split and settle bills together..</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-10">
                                    <div class="single-post">
                                        <div class="thumbnail">
                                            <img src="{% static 'assets2/images/blog-image-13.png' %}" alt="blog">
                                        </div>
                                        <div class="blog-text">
                                            <p class="date">By NimoraPay - Dec 25, 2019</p>
                                            <a href="#/">
                                                <h5>Share the love with Revolut Gifting</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}








